@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-navy: #0a192f;
    --color-gold: #d4af37;
    --color-gold-light: #f1e5ac;
    
    --font-serif: "Cinzel", serif;
    --font-sans: "Inter", sans-serif;
    
    --letter-spacing-widest: 0.25em;
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-sans);
  }
}
